<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars Dealership</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a></li>

                    {% if user.is_authenticated %}
                    <li>
                         <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                         <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                         <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                 <input type="text" class="form-control" placeholder="Username" name="username" >
                                 <input type="password" class="form-control" placeholder="Password" name="psw" >
                                 <button class="btn btn-primary" type="submit">Login</button>
                                 <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                         </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <form action="{% url 'djangoapp:registration' %}" method="post" class="mx-1 mx-md-4 gy-5">
            <div class="container">
              <h1>Sign Up</h1>
              <hr>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="username"><b>User Name</b></label>
                    <input type="text" placeholder="Enter User Name: " name="username" class="form-control" required>
                 </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="firstname"><b>First Name</b></label>
                    <input type="text" placeholder="Enter First Name: " name="firstname" class="form-control" required>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="lastname"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name: " name="lastname" class="form-control" required>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password: " name="psw" class="form-control" required>
                </div>
              </div>
              <div>
                  {% csrf_token %}
                  <button class="button" type="submit">Sign Up</button>
              </div>
            </div>
          </form>
    </body>
</html>